@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,600;0,700;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  letter-spacing: 0.1rem;
}

body {
  background-color: rgb(255, 226, 120);
  font-family: "Libre Bodoni", serif;
}
.main-menu {
  height: 10rem;
  border-bottom: 0.5 rem solid rgb(14, 12, 11);
}
.section-home {
  background-image: url("images/banner1.png");
  border-radius: 0 0 12rem 32rem;
  height: 110vh;
}

.nav li a {
  color: #fff;
  color: #8b4513;
  color: #0a0e12;
  text-decoration-line: none;
  font-weight: bold;
}
.nav li a:hover {
  color: #8b4513;
  color: #11181f;
  color: #fff;
}
.nav li {
  list-style-type: none;
}

.nav {
  display: flex;

  align-items: center;
  justify-content: end;
  gap: 5rem;

  font-size: 2.4rem;

  position: relative;
  bottom: 70%;
  right: 2rem;
}

.logo {
  margin-left: 1rem;
 
  border-radius: 1rem;
}

/* section-1 */
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-img img {
  width: 70rem;
  padding: 8rem;
}
.header {
  color: #0a0e12;
  font-size: 3.2rem;
  text-align: start;
  margin-left: 2rem;
}

.header h1 {
  font-size: 7rem;
}
.header p {
  font-style: italic;
  opacity: 0.8;
  color: #333;
  font-weight: bold;
}
.header a {
  padding: 1rem;
  color: #6f370f;
  color: #0a0e12;
  background-color: #fff;
  margin-top: 2rem;
  display: inline-block;
  border-radius: 0.6rem;
}
.contact-us {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.8rem;
}

.contact-us:hover {
  background-color: #0a0e12;
  background-color: #8b4513;
  color: #fff;
}
/* SECTION 2 */
.section-2 {
  background-color: rgb(255, 226, 120);
  margin-bottom: 12rem;
}
.heading-2 {
  color: #0a0e12;
 
  font-size: 2.2rem;
  padding: 0.5rem;
}
.heading-2 h1 {
  text-align: center;
  padding: 2rem;
  font-size: 5.2rem;
}

.heading-2 p:first-of-type,
.heading-2 p:last-of-type{
  line-height: 1.8;
  text-indent: 50px;
  text-align: justify;
  margin: 0 3rem;
}

.products {
  display: flex;
  align-items: center;
  padding: 3rem 12rem 0;
}

.description-product {
  padding: 8rem;
}

.image-prsten {
  outline-offset: 12rem solid red;
  background-color: rgb(255, 226, 120);
  border-radius: 0 14rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  box-shadow: 0px 0px 0px 22px white inset;
  z-index: 100;
}

.description-product {
  font-weight: semi-bold;
  font-size: 1.8rem;
}

.products .contact-us {
  background-color: #0a0e12;
  color: red;
}

.item {
  padding: 2.2rem;
  background-color: #000;
  font-size: 2.4rem;
  border-radius: 6rem;
  align-self: center;
  margin-bottom: 3rem;
  color: #fff;
  text-decoration: none;
}

.item:hover {
  background-color: #fff;
  color: #000;
}

/* ABOUT */

.about {
  border-radius: 30rem 10rem;
  color: #fff;
  padding-top: 6rem;
  letter-spacing: 0.15rem;
}

.about h1 {
  font-size: 5rem;
  text-align: center;
}
.about p {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding: 4.4rem;
  letter-spacing: .3rem;
  text-shadow:
-.9px .9px 0 #682c02,
 .9px .9px 0 #602902,
 .9px -.9px 0 #682f07,
-.9px -.9px 0 #773e14;
}

.about h2 {
  font-size: 3.4rem;
  padding-bottom: 3rem;
  text-align: center;
}

.about-2 {
  display: flex;
}

.about-2-img {
  width: 50rem;
  height: 50rem;
  border-radius: 20rem;
  padding: 3rem;

}

/* KONTAKT */

.container-kontakt {
  background-color: rgb(255, 226, 120);
  background-image: url("images/kontakt-back.svg");
  background-size: 800px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.container-form {
  z-index: 100;
  margin-top: 1rem;
  width: 400px;
  height: 500px;
  border-radius: 20px;
  padding: 50px;
  box-sizing: border-box;
  background: #ecf0f3;
  background-color: rgb(255, 226, 120);

  transition: 2s;
}

.brand-logo {
  margin: auto;
  transform: scale(1.2);
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  background-color: rgb(255, 226, 120);
  border-radius: 5% 0;
  transition: 2s;
}

.brand-logo:hover {
  box-shadow: none;
}
.brand-logo img {
  height: 5rem;
  width: 5rem;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label,
input,
button,
textarea {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}
label {
  color: #6f370fd0;
  font-weight: 600;
  letter-spacing: 0.15rem;
  font-size: 1.4rem;
}

input::placeholder,
textarea::placeholder {
  color: gray;
  color: #6f370f78;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 40px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
textarea {
  background: #ecf0f3;
  height: 70px;
  font-size: 14px;
  border-radius: 0 15px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  margin-top: 1rem;
  resize: none;
}

button {
  color: white;
  margin-top: 20px;
  background: #1da1f2;
  background-color: #ffe278;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
  border: 0.1rem solid rgba(250, 128, 114, 0.153);
}

/* PRODUCT DESCRIPTION */

.container {
  padding: 1.5rem;
  font-size: 1.6rem;
}
.product-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img img {
  width: 32rem;
  border-radius: 2rem;
}
.prod-head {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.prod-head p {
  font-weight: bold;
}
.prod-head p span {
  font-weight: bold;
  color: rgb(1, 75, 34);
  font-size: 3.2rem;
}

.prod-description {
  font-size: 2rem;
  padding: 2rem;
}

/* RELATED */

.related-products {
  text-align: center;
}

.slider {
  display: flex;
  margin-top: 3rem;
  justify-content: space-evenly;
}

.slider img {
  width: 18rem;
  border-radius: 1.2rem;
}

/* FOOTER */
.section-footer{
width: 100%;
height: 22rem;
background-color: #0a0e12;
}

.cont-footer{
color: #fff;
}
.cont-footer {
  text-align: center;
}
.cont-footer h5{
    font-size: 2.8rem;
    display: inline-block;
    margin-bottom: 1rem;
    letter-spacing: .2rem;

}
.cont-izvori{
font-size: 2rem;
color: #fff;
display: flex;
flex-direction: column;
gap: .6rem;
color: #cbced1;
text-decoration: none;
}
.cont-izvori a{
  color: #fff;
text-decoration: none;
font-style: italic;
}
.cont-izvori a:hover{
color: #8b4513;
}
.copy-footer {
  font-size: 1.6rem;
  display: inline-block;
  margin-top: 1.4rem;
  letter-spacing: .3rem;
  color: #aeafb0;
}
.copy-footer span a{
  display: inline-block;
  background-color:rgba(0, 255, 0, 0.377);
  border-radius: .5rem;
  color: #000;
  padding: .3rem;
  transition: 2s;
  text-decoration: none;
}

.copy-footer span a:hover{
  background-color: #2d3032;
  color:rgba(0, 255, 0);
}


.login{
  text-align: start;
  padding-left: .5rem;
  padding-top: .5rem;
}

.login a{
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  transition: 1s;
}

.login span{
  font-size: 2rem;
  padding: 0 1.6rem;
}
.login a:hover{
  color: lime;
  letter-spacing: .5rem;
}

/* RESPONSIVE */
/* Proizvoljno odraditi responsive za 576px i 992px. */
@media screen and (max-width: 922px){
  .about-2-img {
    display: none;
    }


    .main-img img {
    width: 50rem;
    padding: 8rem;
    }
    .header {
      color: #0a0e12;
      font-size: 2.2rem;
      text-align: start;
      margin-left: 2rem;
    }
    
    .header h1 {
      font-size: 4rem;
    }
   .contact-us {
      font-size: 2rem;
    }  
}

@media screen and (max-width: 576px) { 

  .logo{
    opacity: 0;
  }
  .main-img img {
    width: 40rem;
  }
  .header {
    color: #0a0e12;
    font-size: 1.2rem;
    text-align: start;
  }
  
  .header h1 {
    font-size: 5rem;
  }
  .header p {
    font-style: italic;
    opacity: 0.8;
    color: #333;
    font-weight: bold;
  }
  .header a {
    padding: 1rem;
    color: #6f370f;
    color: #0a0e12;
    background-color: #fff;
    margin-top: 2rem;
    display: inline-block;
    border-radius: 0.6rem;
  }
  .contact-us {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4rem;
  }

.section-2 {
  background-color: rgb(255, 226, 120);  
}
.heading-2 {
  color: #0a0e12;
  font-size: 2.2rem;
  text-align: center;
}
.heading-2 h1 {
  text-align: center;
  padding: .5rem;
  font-size: 4.2rem;
}

 .heading-2 p:first-of-type,
.heading-2 p:last-of-type{
  line-height: 1.5;
  text-indent: 50px;
  text-align: justify;
  margin: 0 1rem;
  font-size: 1.8rem;
}

.products {
  display: flex;
  align-items: center;
  padding: 2rem 1rem 0;
}

.description-product {
  padding: 2rem;
}

.image-prsten {

  background-color: rgb(255, 226, 120);
  border-radius: 0 14rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 0px 0px 22px white inset;
  z-index: 100;
  width: 25rem;
}

.description-product {
  font-weight: semi-bold;
  font-size: 1.6rem;
}

.products .contact-us {
  background-color: #0a0e12;
  color: red;
}

.item {
  padding: .2rem;
  background-color: #000;
  font-size: 2rem;
  border-radius: 2rem;
  align-self: center;
  margin-bottom: qrem;
  color: #fff;
  text-decoration: none;
}

.item:hover {
  background-color: #fff;
  color: #000;
}
/* ****************************** */
/* ABOUT */

.about {
  border-radius: 30rem 10rem;
  color: #fff;
  padding-top: 6rem;
  letter-spacing: 0.15rem;
}

.about h1 {
  font-size: 5rem;
  text-align: center;
}
.about p {
  text-indent: 1.2rem;
  font-size: 1.8rem;
  padding-bottom: 1rem;
  padding: 2rem;
  letter-spacing: .3rem;
  text-shadow:none;
  color: #0a0e12;
}
.about p::first-letter{
  font-size: 3rem;
}
.about h2 {
  font-size: 2.4rem;
  padding-bottom: 1rem;
}


.about-2-img {
display: none;
}
/* RELATED */

.img img{
  width: 18rem;
  margin-right: 2rem;
  border-radius: .2rem;
}

.prod-description h4{
  font-size: 3rem;
  display: inline-block;
  margin-bottom: .5rem;
}
.prod-description p{
  font-size: 1.6rem;
}
.slider {
  display: flex;
  margin-top: 3rem;
  justify-content: space-evenly;
}

.slider img {
  width: 8rem;
  border-radius: 1.2rem;
}

}
  


